############################################
# Java & Build
############################################
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log
hs_err_pid*

############################################
# Katalon Generated / Auto files
############################################
Libs/TempTestCase*.groovy
Libs/TempTestSuite*.groovy
Libs/

Reports/
*/Reports/

.settings/
settings/
settings/**
settings/internal/com.kms.katalon.composer.mobile.settings.properties
settings/internal/com.kms.katalon.integration.analytics.properties
settings/internal/com.kms.katalon.integration.jira.properties

bin/
build/
out/
.cache/
.cache

.classpath
.project
*.properties
*.iml

Plugins/
plugins/

############################################
# Temporary files
############################################
*.tmp
*.temp
*.swp

############################################
# macOS trash files
############################################
.DS_Store
*/.DS_Store

############################################
# Object Repository garbage
############################################
Object\ Repository/.DS_Store

############################################
# Test Listeners
############################################
Test\ Listeners/*.tmp
Test\ Listeners/*.log

############################################
# Gradle
############################################
.gradle/

############################################
# Misc
############################################
output
!output/.gitkeep

.svn/

############################################
# Reports stray artifacts
############################################
Reports"
